<div class="row">
  <div id="questions" class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
    <form method="post" action="<?php echo Utils::getUrl(array('controller' => 'question', 'action' => 'list'));?>">
      <?php foreach($questions as $question): ?>
        <?php $questionId = 'question_'. $question['id'];?>
        <div class="question" id="<?php echo $questionId;?>" <?php if( !empty($question['dependsOn']) ) echo 'data-depends-on="', join(',', $question['dependsOn']), '"'; ?>>
          <div class="question_title"><h4><?php echo Utils::escapeHtml($question['title']);?></h4></div>
          <div class="answers">
            <?php foreach($question['answers'] as $answer): ?>
              <?php $answerId = 'answer_'. $answer['id'];?>
              <div class="answer_div <?php echo $question['multiple'] ? 'checkbox' : 'radio';?>">
                <label class="answer_title" for="<?php echo $answerId;?>">
                  <input type="<?php echo $question['multiple'] ? 'checkbox' : 'radio';?>" name="answers[<?php echo $question['id'];?>]<?php if( $question['multiple'] ) echo '[]';?>" class="answer" id="<?php echo $answerId;?>" value="<?php echo $answer['id'];?>" <?php if( in_array($answer['id'], $selectedAnswers) ) echo 'checked="checked"';?>>
                  <?php echo Utils::escapeHtml($answer['title']);?>
                </label>
                
                <label ></label>
              </div>
            <?php endforeach; ?>
          </div>
        </div>
      <?php endforeach; ?>
      <br />
      <input class="answers_submit btn btn-success btn-lg btn-block" type="submit" value="abschicken">
    </form>
  </div>
</div>

REQUEST:
<pre>
<?php print_r($_REQUEST); ?>
</pre>

SERVER:
<pre>
<?php print_r($_SERVER); ?>
</pre>
